__pycache__

# Local datasets
raw_data/

# Pretrained model weights
Model/Utils/JDC/*.t7
Model/Utils/ASR/*.pth
Model/Utils/PLBERT/*.t7

# Training outputs and checkpoints
Models/
*.pth
*.pt
*.ckpt

# Python cache
__pycache__/
*.py[cod]
